masxml/dtd/masxmlpd.dtd

<!-- masxmlpd_gnome.dtd                                               -->
<!-- DTD for Minimal Anaphoric Syntax - XML for Phrase Detectives     -->
<!--      (Output)                                                    -->
<!--      v. 2.10                                                     -->
<!-- Author: Massimo Poesio                                           -->
<!--      (based on the GNOME corpus .dtd)                            -->
<!-- Created:  2004/06/29                                             -->
<!-- Modified:                                                        -->
<!--           2008/08/07 - 2.1 (adapted for Olivia converter)        -->
<!--           2008/09/03 - 2.2 (TEI-style header)                    -->
<!--           2008/10/31 - 2.4 (body)                                -->
<!--           2008/11/06 - 2.6 after running xjparse
                                added lemma and xpos to W
                                changed order of resp and name        -->
<!--           2017/01/24 - 2.9 Multiple changes to accommodate 
                                Phrase Detectives schema in v1.0      -->
<!--           2018/12/07 - 2.9 Version for GNOME                     -->


<!--   ELEMENTS 	MIN 	CONTENTS     (EXCEPTIONS)             -->

<!-- ================ GENERAL ENTITIES ============================== -->

<!ENTITY % lt       '<'>
<!ENTITY % bits     'emph'>
<!ENTITY % catvals  'a-np|another-np|q-np|num-np|meas-np|this-np|that-np|such-np|wh-np|poss-np|bare-np|pn|the-pn|the-np|pers-pro|poss-pro|refl-pro|rec-pro|q-pro|wh-pro|free-rel|this-pro|that-pro|num-ana|null-ana|coord-np|gerund|complementizer|no-cat|unsure-cat'>
<!ENTITY % pervals  'per1|per2|per3|undersp-per|no-per|unsure-per'>
<!ENTITY % numvals  'sing|plur|undersp-num|no-num|unsure-num'>
<!ENTITY % genvals  'fem|masc|neut|undersp-gen|any|no-gen|unsure-gen'>

<!-- ================ GNOMEDOC ====================================== -->

<!-- The outer element of a document of the corpus -->

<!ELEMENT gnomedoc  (header?,body)>       
<!ATTLIST gnomedoc
          id      ID      #IMPLIED>

<!-- ================ HEADERS ======================================== -->

<!-- New TEI-style header -->
<!ELEMENT header    (fileDesc,revisionDesc?)>
<!-- file description:  a full bibliographical description of the computer -->
<!-- file itself, from which a user of the text could derive a proper -->
<!-- bibliographic citation -->
<!ELEMENT fileDesc  (titleStmt,publicationStmt,sourceDesc)>
<!-- revision history:   allows the encoder to provide a history of changes -->
<!-- made during the development of the electronic text. -->
<!ELEMENT revisionDesc (change+)>
<!ELEMENT titleStmt (title,author)>
<!ELEMENT publicationStmt ((book|web|leaflet|miscsource),availability,date?)>
<!ELEMENT sourceDesc (filename,date)>
<!ELEMENT title	    (#PCDATA)>
<!ELEMENT author    (#PCDATA)>
<!ELEMENT respStmt  (name,resp)>
<!ELEMENT resp      (#PCDATA)>
<!ELEMENT name      (#PCDATA)>
<!ELEMENT book      (publisher,pubPlace,idno?)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT pubPlace  (#PCDATA)>
<!ELEMENT date	    (#PCDATA)>
<!-- ISBN, etc. -->
<!ELEMENT idno      (#PCDATA)>
<!-- Copyright info -->
<!ELEMENT availability (#PCDATA)>
<!ELEMENT web       (publisher,url)>
<!ELEMENT url       (#PCDATA)>
<!ELEMENT leaflet   (publisher)>
<!ELEMENT miscsource  (#PCDATA)> 
<!ELEMENT filename  (#PCDATA)>
<!-- item already used -->
<!ELEMENT change    (date, respStmt, TEIitem)>
<!ELEMENT TEIitem  (#PCDATA)>

<!-- ================ LAYOUT ======================================== -->

<!ELEMENT body     (section)>

<!ELEMENT section  (title|p|s|PDante|list)+ >
<!ATTLIST section
          id      ID      #IMPLIED>
<!ELEMENT p	  (#PCDATA|ne|s|title|list|PDante|sbar|emph)* >
<!ATTLIST p
          id      ID      #IMPLIED>
<!ELEMENT s	  (#PCDATA|ne|ve|W|unit|GNOMEante|PDante|sbar)* >
<!ATTLIST s
          id      ID      #REQUIRED
          stype   (decl | int | imp | excl | unsureSTYPE )  #IMPLIED
          status  (edited|unedited)                         #IMPLIED>
<!ELEMENT unit    (#PCDATA | ne | nphead | unit | list | W | sbar | ve | emph)* >
<!ATTLIST unit
          id      ID      #IMPLIED
          subject CDATA	  #IMPLIED
          verbed  CDATA	  #IMPLIED
          finite  CDATA	  #IMPLIED
          utype   CDATA	  #IMPLIED
          >
<!ELEMENT sbar    (#PCDATA | ne | nphead | unit | list | W | sbar | ve | emph)* >
<!ATTLIST sbar
          id      ID      #IMPLIED
          >

<!ELEMENT list    (title?,(item|PDante)+)>
<!ATTLIST list 
          ltype   (normal|enum|defn|unsureLTYPE) 'unsureLTYPE'
          id	  ID	   #IMPLIED>
<!ELEMENT item    (#PCDATA|ne|unit|W|s|sbar|title|p|list|PDante)* >
<!ATTLIST item 
          id	  ID	   #IMPLIED
          term	  CDATA	   #IMPLIED>

<!-- ================ NE AND ITS ATTRIBUTES ============================ -->

<!ELEMENT ne  (W|ne|nphead|mod|ve|unit|sbar| emph)* >
<!-- here I had to remove references to parameter entities catvals, -->
<!-- pervals, numvals, and genvals because the bloody validator -->
<!-- complained -->
<!ATTLIST ne id     ID                                                  #IMPLIED
             AAcat  CDATA                                               #IMPLIED
             per    (per1|per2|per3|undersp-per|no-per|unsure-per)      #IMPLIED
             AAper  CDATA                                               #IMPLIED
             num    (sing|plur|undersp-num|no-num|unsure-num)           #IMPLIED
             AAnum  CDATA                                               #IMPLIED
             gen    (fem|masc|neut|undersp-gen|any|no-gen|unsure-gen)   #IMPLIED
             AAgen  CDATA                                               #IMPLIED 
             gf     (subj|obj|predicate|there-obj|comp|adjunct|gen|np-compl|
                     np-part|np-mod|adj-mod|no-gf| unsure-gf) 
                    "unsure-gf"
             onto   CDATA                                               #IMPLIED
             cb     CDATA                                               #IMPLIED
             lftype CDATA                                               #IMPLIED
             cat    CDATA                                               #IMPLIED
             deix   CDATA                                               #IMPLIED
             loeb   CDATA                                               #IMPLIED
             count  CDATA                                               #IMPLIED
             pnform CDATA                                               #IMPLIED
             generic CDATA                                              #IMPLIED
             den    CDATA                                               #IMPLIED
             ani    CDATA                                               #IMPLIED
             reference CDATA                                            #IMPLIED
             disc   CDATA                                               #IMPLIED
             structure CDATA                                            #IMPLIED
	     >

<!-- ================ ante AND ITS ATTRIBUTES ======================== -->
<!-- ante encodes gold annotation - straight from gnome.dtd -->
<!-- 2018/12/13 had to replace it with GNOMEante and GNOMEanchor to fix -->
<!--  compatibility with new anchor in PD -->

<!ELEMENT GNOMEante    (GNOMEanchor)+>
<!ATTLIST GNOMEante    current IDREF #REQUIRED
                  rel     (ident|element|element-inv|
                           subset|subset-inv|poss|poss-inv|
                           other|undersp-rel|unsure-rel)
                           "unsure-rel"
                  >
<!ELEMENT GNOMEanchor  EMPTY>
<!-- <!ELEMENT GNOMEanchor  (#PCDATA)> -->
<!ATTLIST GNOMEanchor  antecedent   IDREF #REQUIRED>

<!-- ================ PDante AND ITS ATTRIBUTES ======================== -->


<!ENTITY  % numjudgment '0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20'>
<!ELEMENT PDante  (interpretation|comment|skip)*>
<!ATTLIST PDante  id      IDREF            #REQUIRED
                  end_chr   CDATA          #IMPLIED
                  start_chr  CDATA         #IMPLIED
                  visibility   CDATA       #IMPLIED
                  >
<!ELEMENT interpretation (anchor)* >
<!ELEMENT anchor  EMPTY>
<!ATTLIST anchor  type    (DN|DO|PR|NR|SE) #REQUIRED
                  ante    CDATA            #IMPLIED
                  user_id  CDATA           #IMPLIED
                  user_rating  CDATA       #IMPLIED
                  annotation_time  CDATA   #IMPLIED
                  agree CDATA              #IMPLIED
                  mode CDATA               #IMPLIED
                  interface CDATA          #IMPLIED
                  timestamp CDATA          #IMPLIED
                  favoured CDATA           #IMPLIED
                  >
<!ELEMENT comment (#PCDATA)>
<!ATTLIST comment type_id CDATA            #IMPLIED
                  type    CDATA            #IMPLIED
                  user_rating CDATA        #IMPLIED
                  interface CDATA          #IMPLIED
                  timestamp CDATA          #IMPLIED
                  user_id  CDATA           #IMPLIED
                  >
<!ELEMENT skip    EMPTY >
<!ATTLIST skip    user_id  CDATA           #IMPLIED
                  user_rating  CDATA       #IMPLIED
                  annotation_time  CDATA   #IMPLIED
                  interface CDATA          #IMPLIED
                  timestamp CDATA          #IMPLIED
                  >



<!-- ================ NPHEAD AND ITS ATTRIBUTES ========================= -->

<!ELEMENT nphead (W | ne | unit | sbar | emph)*>
<!ATTLIST nphead id ID #IMPLIED
                 sem (pn-1st | pn-2nd | pn-1st-2nd | pn-reduced | gn-full | gn-reduced | tn | opn-full | opn-reduced | other | unsureSEM) "unsureSEM"
                 >

<!-- ================ MOD AND ITS ATTRIBUTES ============================ -->

<!ELEMENT mod (W|ne|ve|unit|sbar)*>
<!ATTLIST mod id ID #IMPLIED
              AAcat (AApre | AApost | unsureAAcat) "unsureAAcat"
              type (appos | such | poss | preadj | prenoun | postprep |
                    postpart | postnp | rel-cls | other | 
		            unsureTYPE) "unsureTYPE"
              pragm (unique | int | attr | unsurePRAGM) "unsurePRAGM"
              sem (location1 | time-period1 | possess | possinv |
                   content2 | material1 | subject7 | object3 |
                   purpose2 | identify2 | characterize1 |
                   rephrase1 | temporal-property1 | visual-property1 |
                   spatial-property1 | bodily-property1 | state4 |
                   property2 | quality1 | abstraction6 | phenomenon1 |
                   other | unsureSEM) "unsureSEM"
              coord (coord-yes | coord-no | unsureCOORD) "coord-no">

<!-- ================ VE AND ITS ATTRIBUTES ============================ -->

<!ELEMENT ve    (W+) >
<!ATTLIST ve    id     ID #IMPLIED>

<!-- ================ W   ======================== -->

<!ELEMENT W     (#PCDATA)>
<!ATTLIST W	    id	    ID	#IMPLIED
		        Lpos	CDATA	""
                Xpos	CDATA	"" 
                lemma   CDATA   "" >

<!-- ================ OTHER ELEMENTS  ======================== -->

<!ELEMENT emph  (#PCDATA)>
<!ATTLIST emph 
	  color CDATA #IMPLIED>
<!ELEMENT image (#PCDATA)>
<!ATTLIST image
          id    ID        #IMPLIED>
